Repository octree-gva/caroster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

.gitlab-ci.yml:

include:
  - project: o/infra/templates
    file: /gitlab-ci/includes/jobs.yaml
  - project: o/infra/templates
    file: /gitlab-ci/includes/helm-deploy.yaml

Test E2E:
  stage: test
  image: node:16-alpine
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - backend/**/*
        - e2e/**/*
      exists:
        - backend/tests
  cache:
    key: node_modules
    paths:
      - backend/node_modules
      - e2e/node_modules
  script:
    - cd backend/
    - yarn
    - cd ../e2e/
    - yarn
    - yarn test

Build NextJS:
  extends: .build
  variables:
    CI_PROJECT_DIR: frontend/
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/next
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - frontend/**/*

Build Strapi:
  extends: .build
  variables:
    CI_PROJECT_DIR: backend/
    CI_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE/strapi
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - backend/**/*
    
Deploy NextJS to Test:
  extends: .deployJelasticNode
  needs: ["Build NextJS"]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $ENVNAME && $NODE_ID_NEXT
      changes:
        - frontend/**/*
  variables:
    NODE_ID: $NODE_ID_NEXT
  environment:
    name: Test
    url: "https://$ENVNAME.hidora.com"

Deploy Strapi to Test:
  extends: .deployJelasticNode
  needs: ["Build Strapi"]
  variables:
    NODE_ID: $NODE_ID_STRAPI
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $ENVNAME && $NODE_ID_STRAPI
      changes:
        - backend/**/*

Deploy to Kubernetes Test:
  extends: .deployStrapiNextjs
  stage: deploy
  variables:
    ENVNAME: test

fix: 🌐 Improve languages management
  frontend/containers/GenericMenu/Action.tsx
  frontend/containers/GenericMenu/index.tsx
  frontend/containers/Languages/Icon.tsx
  frontend/containers/Languages/MenuItem.tsx
  frontend/containers/Languages/withLanguagesSelection.tsx
  frontend/containers/SignUpForm/index.tsx
  frontend/hooks/useSettings.ts
  frontend/i18n.ts
  frontend/lib/i18n.ts
  frontend/pages/_app.tsx
  frontend/stores/useLangStore.ts
Due: Build NextJS, Deploy NextJS to Test

fix: 🐛 Fix username unicity on sign-up
  backend/src/api/event/services/event.ts
  frontend/containers/SignUpForm/index.tsx
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

docs: 📝 Add Contributing, add license, add COC
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
Due: none

feat: 📈 Add Matomo tag manager
  backend/src/api/setting/content-types/setting/schema.json
  frontend/generated/graphql.tsx
  frontend/graphql/setting.gql
  frontend/hooks/useMatomo.ts
  frontend/layouts/Default.tsx
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

🐛 Fix bugs on event notifs
  backend/config/cron-tasks.ts
  backend/src/api/event/content-types/event/lifecycles.ts
Due: Build Strapi, Deploy Strapi to Test

👷 Clean CI config
  .gitlab-ci.yml
Due: none

fix: :bug: Fix password update
  backend/src/extensions/users-permissions/content-types/user/schema.json
  frontend/containers/Profile/EditPassword.tsx
  frontend/containers/Profile/ProfileField.tsx
  frontend/containers/Profile/index.tsx
  frontend/generated/graphql.tsx
  frontend/graphql/user.gql
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

✅ Fix tests
  e2e/graphql.ts
  e2e/tests/4.passenger.test.ts
Due: none

👷 Remove E2E incomplete job
  .gitlab-ci.yml
Due: none

build: :construction_worker: Build all-in-one Docker image
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  backend/.dockerignore
  backend/.env.example
  backend/Dockerfile
  backend/README.md
  backend/config/middlewares.ts
  ecosystem.config.js
  frontend/.dockerignore
  frontend/Dockerfile
  nginx.conf
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

fix: :bug: Fix profile update
  frontend/containers/Profile/index.tsx
  frontend/pages/profile.tsx
Due: Build NextJS, Deploy NextJS to Test

👷 Improve Docker image
  Dockerfile
  docker-entrypoint.sh
Due: none

🔧 Fix nginx & pm2 configs
  ecosystem.config.js
  nginx.conf
Due: none

💚 Set deploy job to Jelastic
  .gitlab-ci.yml
Due: none

chore: 🚀 Improve deployments
  .gitlab-ci.yml
  README.md
  backend/.env.example
  backend/package.json
  backend/yarn.lock
  docker-entrypoint.sh
  frontend/hooks/useMatomo.ts
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

🚀 Improve deployments
  .gitignore
  backend/.env.example
  docker-entrypoint.sh
Due: Build Strapi, Deploy Strapi to Test

chore: ⬆️ Upgrade frontend dependencies
  backend/.strapi-updater.json
  frontend/containers/EventBar/index.tsx
  frontend/generated/graphql.tsx
  frontend/lib/apolloClient.ts
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package.json
  frontend/public/sw.js
  frontend/public/workbox-6a1bf588.js
  frontend/public/workbox-ea903bce.js
  frontend/theme.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

feat: ✨ Improve dashboard UI
  backend/.strapi-updater.json
  backend/yarn.lock
  frontend/containers/DashboardEvents/EventCard.tsx
  frontend/locales/en.json
  frontend/locales/fr.json
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

feat: ✨ Add type tel on phone input
  frontend/containers/NewTravelDialog/index.tsx
Due: Build NextJS, Deploy NextJS to Test

feat: :lock: Setup Next Auth
  .gitignore
  frontend/.env.example
  frontend/components/Logo/index.js
  frontend/containers/CreateEvent/Step1.tsx
  frontend/containers/EventBar/index.tsx
  frontend/containers/GenericMenu/index.tsx
  frontend/containers/GenericToolbar/index.tsx
  frontend/containers/LostPassword/index.js
  frontend/containers/NewPassengerDialog/AddPassengerToWaitingList.tsx
  frontend/containers/NewTravelDialog/useActions.ts
  frontend/containers/PassengersList/Passenger.tsx
  frontend/containers/SignInForm/index.tsx
  frontend/containers/TravelColumns/index.tsx
  frontend/containers/VehicleChoiceDialog/VehicleItem.tsx
  frontend/graphql/auth.gql
  frontend/hooks/useAddToEvents.ts
  frontend/hooks/useLoginForm.ts
  frontend/hooks/useLoginWithProvider.ts
  frontend/hooks/useProfile.ts
  frontend/lib/apolloClient.ts
  frontend/lib/i18n.ts
  frontend/lib/pageUtils.ts
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/nauth/[...nextauth].js
  frontend/pages/auth/login.tsx
  frontend/pages/dashboard.tsx
  frontend/pages/e/[uuid]/details.tsx
  frontend/pages/e/[uuid]/index.tsx
  frontend/pages/e/[uuid]/waitingList.tsx
  frontend/pages/index.tsx
  frontend/pages/profile.tsx
  frontend/stores/useAuthStore.ts
  frontend/yarn.lock
  nginx.conf
Due: Build NextJS, Deploy NextJS to Test

feat: ✨ Redirect user to current url after login & signup
  backend/.strapi-updater.json
  frontend/containers/EventBar/UserIcon.tsx
  frontend/containers/EventBar/index.tsx
  frontend/containers/EventBar/useActions.ts
  frontend/containers/SignInForm/index.tsx
  frontend/hooks/useLoginWithProvider.ts
  frontend/pages/index.tsx
  frontend/stores/useRedirectUrl.ts
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

feat: 🔒️ Redirect unauthenticated user to event creation page
  frontend/pages/dashboard.tsx
  frontend/pages/profile.tsx
Due: Build NextJS, Deploy NextJS to Test

feat: ✨ Improve 'Add myself' feature
  backend/.strapi-updater.json
  backend/src/graphql/passenger/createPassenger.ts
  backend/src/graphql/passenger/index.ts
  frontend/containers/PassengersList/Passenger.tsx
  frontend/containers/PassengersList/index.tsx
  frontend/containers/Travel/index.tsx
  frontend/containers/TravelColumns/index.tsx
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

fix: 💄 Cut event names on dashboard
  frontend/containers/DashboardEvents/EventCard.tsx
Due: Build NextJS, Deploy NextJS to Test

feat: 🚸 Improve feedback on passengers related actions
  frontend/containers/Travel/useActions.ts
  frontend/containers/WaitingList/index.tsx
  frontend/locales/en.json
  frontend/locales/fr.json
Due: Build NextJS, Deploy NextJS to Test

refactor: 🌐 Improve internationalization architecture
  backend/.strapi-updater.json
  backend/src/extensions/users-permissions/content-types/user/schema.json
  backend/src/migrations/user-locales.js
  frontend/codegen.yml
  frontend/components/Logo/index.js
  frontend/containers/CreateEvent/Step1.tsx
  frontend/containers/Languages/Icon.tsx
  frontend/containers/Languages/MenuItem.tsx
  frontend/containers/Languages/withLanguagesSelection.tsx
  frontend/containers/LostPassword/Success.js
  frontend/containers/SignInForm/index.tsx
  frontend/containers/SignUpForm/index.tsx
  frontend/generated/graphql.tsx
  frontend/hooks/useLocale.ts
  frontend/hooks/useSettings.ts
  frontend/lib/i18n.ts
  frontend/locales/en.json
  frontend/locales/fr.json
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/auth/confirm.tsx
  frontend/react-i18next.config.js
  frontend/yarn.lock
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

refactor: 🎨 Always link passengers to an event
  backend/src/api/event/content-types/event/schema.json
  backend/src/api/event/services/event.ts
  backend/src/api/passenger/content-types/passenger/schema.json
  backend/src/api/travel/content-types/travel/lifecycles.ts
  backend/src/graphql/event/index.ts
  backend/src/graphql/passenger/createPassenger.ts
  backend/src/migrations/passengers-event.ts
  e2e/graphql.ts
  frontend/containers/NewPassengerDialog/AddPassengerToTravel.tsx
  frontend/containers/TravelColumns/index.tsx
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

test: :white_check_mark: Fix tests
  e2e/codegen.yaml
  e2e/graphql.ts
  e2e/graphql/login.gql
  e2e/tests/4.passenger.test.ts
Due: none

fix: :bug: Use cookie for banner visbility
  frontend/components/Banner/index.tsx
  frontend/components/Markdown/index.tsx
  frontend/hooks/useSettings.ts
  frontend/layouts/Default.tsx
  frontend/layouts/Event.tsx
  frontend/lib/cookies.ts
  frontend/lib/pageUtils.ts
  frontend/pages/dashboard.tsx
  frontend/pages/e/[uuid]/details.tsx
  frontend/pages/e/[uuid]/index.tsx
  frontend/pages/e/[uuid]/waitingList.tsx
  frontend/pages/index.tsx
  frontend/pages/profile.tsx
Due: Build NextJS, Deploy NextJS to Test

fix: :bug: Fix authentication error messages
  frontend/containers/SignInForm/index.tsx
  frontend/locales/en.json
  frontend/locales/fr.json
  frontend/pages/api/nauth/[...nextauth].js
  frontend/pages/auth/login.tsx
Due: Build NextJS, Deploy NextJS to Test

feat: :lipstick: Re-order menu
  frontend/containers/EventBar/index.tsx
  frontend/containers/EventBar/useActions.ts
  frontend/containers/GenericMenu/index.tsx
  frontend/containers/GenericToolbar/index.tsx
  frontend/locales/en.json
  frontend/locales/fr.json
  frontend/pages/dashboard.tsx
  frontend/pages/index.tsx
Due: Build NextJS, Deploy NextJS to Test

refactor: :arrow_up: Upgrade Strapi & clean some code
  backend/.strapi-updater.json
  backend/package.json
  backend/yarn.lock
  frontend/containers/Travel/Header.tsx
  frontend/containers/WaitingList/TravelDialog.tsx
  frontend/hooks/useLocale.ts
  frontend/lib/getMapsLink.ts
  frontend/lib/i18n.ts
Due: Build NextJS, Build Strapi, Deploy NextJS to Test, Deploy Strapi to Test

fix: :bug: Show 404 when UUID not found
  frontend/lib/pageUtils.ts
  frontend/pages/e/[uuid]/details.tsx
  frontend/pages/e/[uuid]/index.tsx
  frontend/pages/e/[uuid]/waitingList.tsx
Due: Build NextJS, Deploy NextJS to Test

🩹 Fix some errors on login page
  frontend/locales/en.json
  frontend/locales/fr.json
  frontend/pages/auth/login.tsx
  nginx.conf
Due: Build NextJS, Deploy NextJS to Test

🐛 Delete self also delete other passengers
  backend/.strapi-updater.json
  backend/src/graphql/passenger/createPassenger.ts
Due: Build Strapi, Deploy Strapi to Test

🐛 Do not use session storage for store persistence
  frontend/stores/useRedirectUrl.ts
Due: Build NextJS, Deploy NextJS to Test

🌐 Update locales for 'caroster'
  frontend/locales/en.json
  frontend/locales/fr.json
Due: Build NextJS, Deploy NextJS to Test

fix: :bug: Hash banner text for comparison
  frontend/components/Banner/index.tsx
  frontend/lib/cookies.ts
  frontend/lib/pageUtils.ts
  frontend/package.json
  frontend/yarn.lock
Due: Build NextJS, Deploy NextJS to Test
